-var note = '<a href = \'https://www.mcsweeneys.net/articles/men-in-tech-to-work-with-and-or-go-on-tinder-dates-with-before-you-a-woman-in-tech-get-fed-up-with-this-industry-and-leave-san-francisco-forever\'>american dream!</a>'
include ../layout.pug